<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The OC</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
<section>
    <div class="container">
        <div class="text-center text-lead text-primary">
            <h1>
                The OCR
            </h1>
        </div>
        <div class="row my-5 py-5">
            <div class="col-sm-10 col-lg-6">
                <form class="form-inline" method="POST" enctype="multipart/form-data">
                    <input type="file" name="Image"/>
                    <button type="submit" class="btn btn-primary" onclick="show()">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="conatiner">
                <p id="show"></p>
            </div>
        </div>
        <div class="row">
                <div class="container">
                    <div class="col-sm-10 col-lg-10">
                            <% if (error) {%>
                                <p class="text-lead text-danger my-5 py-5">
                                <%= error %>
                                </p>
                            <% } %>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-sm-10 col-lg-10">
                        <% if (data) {%>
                            <p class="text-lead my-5 py-5">
                            <%= data %>
                            </p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/main.js" ></script>
</body>
</html>